@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Colors */
  --color-background: var(--background);
  /* Fonts */
  --font-apfel: var(--font-apfel-grotezk);
  --font-apfel-fett: var(--font-apfel-grotezk-fett);
  --font-apfel-mittel: var(--font-apfel-grotezk-mittel);
  --font-momo: var(--font-momo-trust-display);
  --font-patua: var(--font-patua-one);
  --font-protest: var(--font-protest-strike);
  --font-sketchup: var(--font-sketchup);
}

:root {
  --background: #f0f2f5;
}

.dark {
  /* --background: #f0f2f5; */
}

@layer base {
  body {
    background: var(--background);
    font-family: var(--font-apfel-grotezk);
    -webkit-font-smoothing: antialiased;
    @apply bg-background;
  }
  html {
    @apply font-apfel;
  }
}
